@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
            <thead>
            <tr>
                <td>Script Guid</td>
                <td>Issue Number</td>
                <td>Author</td>
                <td>Language</td>
                <td>Content</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1a0f5021-e2c9-4f6c-8ba7-52ac82ca2b8</td>
                <td>TEST-001</td>
                <td>yimlu</td>
                <td>PL-SQL</td>
                <td>/*empty script*/</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>